@font-face {
    font-family: 'entypo';
    src: url('font/entypo.eot?1119259');
    src: url('font/entypo.eot?1119259#iefix') format('embedded-opentype'),
		url('font/entypo.woff?1119259') format('woff'),
		url('font/entypo.ttf?1119259') format('truetype'),
		url('font/entypo.svg?1119259#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo.eot');
    src: url('font/entypo.eot?#iefix') format('embedded-opentype'),
         url('font/entypo.woff') format('woff'),
         url('font/entypo.ttf') format('truetype'),
         url('font/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('font/entypo-social.eot');
    src: url('font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-social.woff') format('woff'),
         url('font/entypo-social.ttf') format('truetype'),
         url('font/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?1119259#entypo') format('svg');
  }
}
*/

.entypo {
    height: 1em;
	font-family: 'EntypoRegular';
	font-size: 1em;
	font-weight: normal;
	line-height: 0;
}
.entypo:before {
    font-family: 'entypo';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    vertical-align: inherit;
}
.entypo-social {
	font-family: 'EntypoSocialRegular';
	font-size: 2em;
	font-weight: normal;
	line-height: 0;
}
.entypo.left-open-mini:before {
    content: '\e800';
}
.entypo.right-open-mini:before {
    content: '\e801';
}
.entypo.up-open-mini:before {
    content: '\e802';
}
.entypo.down-open-big:before {
    content: '\e803';
}
.entypo.left-thin:before {
    content: '\e804';
}
.entypo.right-thin:before {
    content: '\e805';
}
.entypo.up-thin:before {
    content: '\e806';
}
.entypo.ccw:before {
    content: '\e807';
}
.entypo.progress-1:before {
    content: '\e808';
}
.entypo.progress-2:before {
    content: '\e809';
}
.entypo.progress-3:before {
    content: '\e80a';
}
.entypo.target:before {
    content: '\e80b';
}
.entypo.flash:before {
    content: '\e80c';
}
.entypo.moon:before {
    content: '\e80d';
}
.entypo.flight:before {
    content: '\e80e';
}
.entypo.paper-plane:before {
    content: '\e80f';
}
.entypo.tape:before {
    content: '\e810';
}
.entypo.graduation-cap:before {
    content: '\e811';
}
.entypo.language:before {
    content: '\e812';
}
.entypo.ticket:before {
    content: '\e813';
}
.entypo.flow-parallel:before {
    content: '\e814';
}
.entypo.rocket:before {
    content: '\e815';
}
.entypo.gauge:before {
    content: '\e816';
}
.entypo.traffic-cone:before {
    content: '\e817';
}
.entypo.vimeo-circled:before {
    content: '\e818';
}
.entypo.twitter:before {
    content: '\e819';
}
.entypo.twitter-circled:before {
    content: '\e81a';
}
.entypo.facebook:before {
    content: '\e81b';
}
.entypo.rdio:before {
    content: '\e81c';
}
.entypo.rdio-circled:before {
    content: '\e81d';
}
.entypo.spotify:before {
    content: '\e81e';
}
.entypo.spotify-circled:before {
    content: '\e81f';
}
.entypo.smashing:before {
    content: '\e820';
}
.entypo.sweden:before {
    content: '\e821';
}
.entypo.db-shape:before {
    content: '\e822';
}
.entypo.logo-db:before {
    content: '\e823';
}
.entypo.left-open-big:before {
    content: '\e824';
}
.entypo.right-open-big:before {
    content: '\e825';
}
.entypo.up-open-big:before {
    content: '\e826';
}
.entypo.down:before {
    content: '\e827';
}
.entypo.left:before {
    content: '\e828';
}
.entypo.right:before {
    content: '\e829';
}
.entypo.up:before {
    content: '\e82a';
}
.entypo.down-dir:before {
    content: '\e82b';
}
.entypo.left-dir:before {
    content: '\e82c';
}
.entypo.right-dir:before {
    content: '\e82d';
}
.entypo.up-dir:before {
    content: '\e82e';
}
.entypo.down-bold:before {
    content: '\e82f';
}
.entypo.left-bold:before {
    content: '\e830';
}
.entypo.right-bold:before {
    content: '\e831';
}
.entypo.up-bold:before {
    content: '\e832';
}
.entypo.down-thin:before {
    content: '\e833';
}
.entypo.cw:before {
    content: '\e834';
}
.entypo.arrows-ccw:before {
    content: '\e835';
}
.entypo.level-down:before {
    content: '\e836';
}
.entypo.level-up:before {
    content: '\e837';
}
.entypo.shuffle:before {
    content: '\e838';
}
.entypo.loop:before {
    content: '\e839';
}
.entypo.switch:before {
    content: '\e83a';
}
.entypo.play:before {
    content: '\e83b';
}
.entypo.stop:before {
    content: '\e83c';
}
.entypo.pause:before {
    content: '\e83d';
}
.entypo.record:before {
    content: '\e83e';
}
.entypo.to-end:before {
    content: '\e83f';
}
.entypo.to-start:before {
    content: '\e840';
}
.entypo.fast-forward:before {
    content: '\e841';
}
.entypo.fast-backward:before {
    content: '\e842';
}
.entypo.progress-0:before {
    content: '\e843';
}
.entypo.palette:before {
    content: '\e844';
}
.entypo.list:before {
    content: '\e845';
}
.entypo.list-add:before {
    content: '\e846';
}
.entypo.signal:before {
    content: '\e847';
}
.entypo.trophy:before {
    content: '\e848';
}
.entypo.battery:before {
    content: '\e849';
}
.entypo.back-in-time:before {
    content: '\e84a';
}
.entypo.monitor:before {
    content: '\e84b';
}
.entypo.mobile:before {
    content: '\e84c';
}
.entypo.network:before {
    content: '\e84d';
}
.entypo.cd:before {
    content: '\e84e';
}
.entypo.inbox:before {
    content: '\e84f';
}
.entypo.install:before {
    content: '\e850';
}
.entypo.globe:before {
    content: '\e851';
}
.entypo.cloud:before {
    content: '\e852';
}
.entypo.cloud-thunder:before {
    content: '\e853';
}
.entypo.leaf:before {
    content: '\e854';
}
.entypo.lifebuoy:before {
    content: '\e855';
}
.entypo.mouse:before {
    content: '\e856';
}
.entypo.briefcase:before {
    content: '\e857';
}
.entypo.suitcase:before {
    content: '\e858';
}
.entypo.dot:before {
    content: '\e859';
}
.entypo.dot-2:before {
    content: '\e85a';
}
.entypo.dot-3:before {
    content: '\e85b';
}
.entypo.brush:before {
    content: '\e85c';
}
.entypo.magnet:before {
    content: '\e85d';
}
.entypo.infinity:before {
    content: '\e85e';
}
.entypo.erase:before {
    content: '\e85f';
}
.entypo.chart-pie:before {
    content: '\e860';
}
.entypo.chart-line:before {
    content: '\e861';
}
.entypo.chart-bar:before {
    content: '\e862';
}
.entypo.chart-area:before {
    content: '\e863';
}
.entypo.water:before {
    content: '\e864';
}
.entypo.droplet:before {
    content: '\e865';
}
.entypo.air:before {
    content: '\e866';
}
.entypo.credit-card:before {
    content: '\e867';
}
.entypo.floppy:before {
    content: '\e868';
}
.entypo.clipboard:before {
    content: '\e869';
}
.entypo.megaphone:before {
    content: '\e86a';
}
.entypo.database:before {
    content: '\e86b';
}
.entypo.drive:before {
    content: '\e86c';
}
.entypo.bucket:before {
    content: '\e86d';
}
.entypo.thermometer:before {
    content: '\e86e';
}
.entypo.key:before {
    content: '\e86f';
}
.entypo.flow-cascade:before {
    content: '\e870';
}
.entypo.flow-branch:before {
    content: '\e871';
}
.entypo.flow-tree:before {
    content: '\e872';
}
.entypo.flow-line:before {
    content: '\e873';
}
.entypo.cc:before {
    content: '\e874';
}
.entypo.cc-by:before {
    content: '\e875';
}
.entypo.cc-nc:before {
    content: '\e876';
}
.entypo.cc-nc-eu:before {
    content: '\e877';
}
.entypo.cc-nc-jp:before {
    content: '\e878';
}
.entypo.cc-sa:before {
    content: '\e879';
}
.entypo.cc-nd:before {
    content: '\e87a';
}
.entypo.cc-pd:before {
    content: '\e87b';
}
.entypo.cc-zero:before {
    content: '\e87c';
}
.entypo.cc-share:before {
    content: '\e87d';
}
.entypo.cc-remix:before {
    content: '\e87e';
}
.entypo.github:before {
    content: '\e87f';
}
.entypo.github-circled:before {
    content: '\e880';
}
.entypo.flickr:before {
    content: '\e881';
}
.entypo.flickr-circled:before {
    content: '\e882';
}
.entypo.vimeo:before {
    content: '\e883';
}
.entypo.facebook-circled:before {
    content: '\e884';
}
.entypo.facebook-squared:before {
    content: '\e885';
}
.entypo.gplus:before {
    content: '\e886';
}
.entypo.gplus-circled:before {
    content: '\e887';
}
.entypo.pinterest:before {
    content: '\e888';
}
.entypo.pinterest-circled:before {
    content: '\e889';
}
.entypo.tumblr:before {
    content: '\e88a';
}
.entypo.tumblr-circled:before {
    content: '\e88b';
}
.entypo.linkedin:before {
    content: '\e88c';
}
.entypo.linkedin-circled:before {
    content: '\fff';
}
.entypo.dribbble:before {
    content: '\e88e';
}
.entypo.dribbble-circled:before {
    content: '\e88f';
}
.entypo.stumbleupon:before {
    content: '\e890';
}
.entypo.stumbleupon-circled:before {
    content: '\e891';
}
.entypo.lastfm:before {
    content: '\e892';
}
.entypo.lastfm-circled:before {
    content: '\e893';
}
.entypo.qq:before {
    content: '\e894';
}
.entypo.instagram:before {
    content: '\e895';
}
.entypo.dropbox:before {
    content: '\e896';
}
.entypo.evernote:before {
    content: '\e897';
}
.entypo.flattr:before {
    content: '\e898';
}
.entypo.skype:before {
    content: '\e899';
}
.entypo.skype-circled:before {
    content: '\e89a';
}
.entypo.renren:before {
    content: '\e89b';
}
.entypo.sina-weibo:before {
    content: '\e89c';
}
.entypo.paypal:before {
    content: '\e89d';
}
.entypo.picasa:before {
    content: '\e89e';
}
.entypo.soundcloud:before {
    content: '\e89f';
}
.entypo.mixi:before {
    content: '\e8a0';
}
.entypo.behance:before {
    content: '\e8a1';
}
.entypo.google-circles:before {
    content: '\e8a2';
}
.entypo.vkontakte:before {
    content: '\e8a3';
}
.entypo.note:before {
    content: '\e8a4';
}
.entypo.note-beamed:before {
    content: '\e8a5';
}
.entypo.music:before {
    content: '\e8a6';
}
.entypo.search:before {
    content: '\e8a7';
}
.entypo.flashlight:before {
    content: '\e8a8';
}
.entypo.mail:before {
    content: '\e8a9';
}
.entypo.heart:before {
    content: '\e8aa';
}
.entypo.heart-empty:before {
    content: '\e8ab';
}
.entypo.star:before {
    content: '\e8ac';
}
.entypo.star-empty:before {
    content: '\e8ad';
}
.entypo.user:before {
    content: '\e8ae';
}
.entypo.users:before {
    content: '\e8af';
}
.entypo.user-add:before {
    content: '\e8b0';
}
.entypo.video:before {
    content: '\e8b1';
}
.entypo.picture:before {
    content: '\e8b2';
}
.entypo.camera:before {
    content: '\e8b3';
}
.entypo.layout:before {
    content: '\e8b4';
}
.entypo.menu:before {
    content: '\e8b5';
}
.entypo.check:before {
    content: '\e8b6';
}
.entypo.cancel-o:before {
    content: '\e8b7';
}
.entypo.cancel-circled:before {
    content: '\e8b8';
}
.entypo.cancel-squared:before {
    content: '\e8b9';
}
.entypo.plus:before {
    content: '\e8ba';
}
.entypo.plus-circled:before {
    content: '\e8bb';
}
.entypo.plus-squared:before {
    content: '\e8bc';
}
.entypo.minus:before {
    content: '\e8bd';
}
.entypo.minus-circled:before {
    content: '\e8be';
}
.entypo.minus-squared:before {
    content: '\e8bf';
}
.entypo.help:before {
    content: '\e8c0';
}
.entypo.help-circled:before {
    content: '\e8c1';
}
.entypo.info:before {
    content: '\e8c2';
}
.entypo.info-circled:before {
    content: '\e8c3';
}
.entypo.back:before {
    content: '\e8c4';
}
.entypo.home:before {
    content: '\e8c5';
}
.entypo.link:before {
    content: '\e8c6';
}
.entypo.attach:before {
    content: '\e8c7';
}
.entypo.lock:before {
    content: '\e8c8';
}
.entypo.lock-open:before {
    content: '\e8c9';
}
.entypo.eye:before {
    content: '\e8ca';
}
.entypo.tag:before {
    content: '\e8cb';
}
.entypo.bookmark:before {
    content: '\e8cc';
}
.entypo.bookmarks:before {
    content: '\e8cd';
}
.entypo.flag:before {
    content: '\e8ce';
}
.entypo.thumbs-up:before {
    content: '\e8cf';
}
.entypo.thumbs-down:before {
    content: '\e8d0';
}
.entypo.download:before {
    content: '\e8d1';
}
.entypo.upload:before {
    content: '\e8d2';
}
.entypo.upload-cloud:before {
    content: '\e8d3';
}
.entypo.reply:before {
    content: '\e8d4';
}
.entypo.reply-all:before {
    content: '\e8d5';
}
.entypo.forward:before {
    content: '\e8d6';
}
.entypo.quote:before {
    content: '\e8d7';
}
.entypo.code:before {
    content: '\e8d8';
}
.entypo.export:before {
    content: '\e8d9';
}
.entypo.pencil:before {
    content: '\e8da';
}
.entypo.feather:before {
    content: '\e8db';
}
.entypo.print:before {
    content: '\e8dc';
}
.entypo.retweet:before {
    content: '\e8dd';
}
.entypo.keyboard:before {
    content: '\e8de';
}
.entypo.comment:before {
    content: '\e8df';
}
.entypo.chat:before {
    content: '\e8e0';
}
.entypo.bell:before {
    content: '\e8e1';
}
.entypo.attention:before {
    content: '\e8e2';
}
.entypo.alert:before {
    content: '\e8e3';
}
.entypo.vcard:before {
    content: '\e8e4';
}
.entypo.address:before {
    content: '\e8e5';
}
.entypo.location:before {
    content: '\e8e6';
}
.entypo.map:before {
    content: '\e8e7';
}
.entypo.direction:before {
    content: '\e8e8';
}
.entypo.compass:before {
    content: '\e8e9';
}
.entypo.cup:before {
    content: '\e8ea';
}
.entypo.trash:before {
    content: '\e8eb';
}
.entypo.doc:before {
    content: '\e8ec';
}
.entypo.docs:before {
    content: '\e8ed';
}
.entypo.doc-landscape:before {
    content: '\e8ee';
}
.entypo.doc-text:before {
    content: '\e8ef';
}
.entypo.doc-text-inv:before {
    content: '\e8f0';
}
.entypo.newspaper:before {
    content: '\e8f1';
}
.entypo.book-open:before {
    content: '\e8f2';
}
.entypo.book:before {
    content: '\e8f3';
}
.entypo.folder:before {
    content: '\e8f4';
}
.entypo.archive:before {
    content: '\e8f5';
}
.entypo.box:before {
    content: '\e8f6';
}
.entypo.rss:before {
    content: '\e8f7';
}
.entypo.phone:before {
    content: '\e8f8';
}
.entypo.cog:before {
    content: '\e8f9';
}
.entypo.tools:before {
    content: '\e8fa';
}
.entypo.share:before {
    content: '\e8fb';
}
.entypo.shareable:before {
    content: '\e8fc';
}
.entypo.basket:before {
    content: '\e8fd';
}
.entypo.bag:before {
    content: '\e8fe';
}
.entypo.calendar:before {
    content: '\e8ff';
}
.entypo.login:before {
    content: '\e900';
}
.entypo.logout:before {
    content: '\e901';
}
.entypo.mic:before {
    content: '\e902';
}
.entypo.mute:before {
    content: '\e903';
}
.entypo.sound:before {
    content: '\e904';
}
.entypo.volume:before {
    content: '\e905';
}
.entypo.clock:before {
    content: '\e906';
}
.entypo.hourglass:before {
    content: '\e907';
}
.entypo.lamp:before {
    content: '\e908';
}
.entypo.light-down:before {
    content: '\e909';
}
.entypo.light-up:before {
    content: '\e90a';
}
.entypo.adjust:before {
    content: '\e90b';
}
.entypo.block:before {
    content: '\e90c';
}
.entypo.resize-full:before {
    content: '\e90d';
}
.entypo.resize-small:before {
    content: '\e90e';
}
.entypo.popup:before {
    content: '\e90f';
}
.entypo.publish:before {
    content: '\e910';
}
.entypo.window:before {
    content: '\e911';
}
.entypo.arrow-combo:before {
    content: '\e912';
}
.entypo.down-circled:before {
    content: '\e913';
}
.entypo.left-circled:before {
    content: '\e914';
}
.entypo.right-circled:before {
    content: '\e915';
}
.entypo.up-circled:before {
    content: '\e916';
}
.entypo.down-open:before {
    content: '\e917';
}
.entypo.left-open:before {
    content: '\e918';
}
.entypo.right-open:before {
    content: '\e919';
}
.entypo.up-open:before {
    content: '\e91a';
}
.entypo.down-open-mini:before {
    content: '\e91b';
}